<body>
    <div class="main">
        <div class="header">
            <h3>Μη επαρκείς Δηλώσεις</h3>
        </div>
        <ul>
            {{#each insufficient_forms}}
            <li>
                <div class="insufficient_form">
                    <span class="left-content">
                        Δήλωση {{this.id}} - {{this.date}}<br>
                        Είδος: {{this.damage_type}}<br>
                        Αίθουσα: {{this.class_name}}<br>
                        Κτίριο: {{this.damaged_building}}<br><br>

                        <span class="admin_comment">Σχόλιο Διαχειριστή: {{this.admin_comments}}</span>
                    </span>
                    <div class="eraseBtnLabel">
                        <a href="/editForm/edit/{{this.id}}">
                            <button class="eventButtons fa-solid fa-clock-rotate-left"></button>
                        </a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
</body>
